<!--<ul class="nav">
    <li class="nav-home nav-current"><a href="reddit.com"><img src="{{@site.logo}}" alt="{{@site.title}}"></a></li>
</ul> -->

<div class="nav-container">
    <ul class="nav nav-left">
        {{#foreach navigation}}
            <li class="{{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>

    <ul class="nav nav-middle">
        <li><a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a></li>
    </ul>

    <ul class="nav nav-right">
        <li class="nav-about"><a href="{{@site.url}}/about">Quiénes somos</a></li>
        <li class="nav-signup"><a href="{{@site.url}}/#/portal">Suscribite</a></li>
    </ul>
</div>
<div class="nav-container-mobile">
    <div class="mobile-menu-top">
        <a href="#" id="myLink"><img src="assets/images/hamburger.png" width="40" height="40" alt="Menu"></a>
        <div class="mobile-logo">
            <a href="https://siam-revista.ghost.io/"><img  src="{{@site.logo}}" alt="{{@site.title}}" class="mobile-logo-img"></a>
        </div>
    </div>

    <div class="links-container">
        <a href="https://siam-revista.ghost.io/tag/economia/" class="mobile-item">Economia</a>
        <hr width="100%" size="2" color="white" noshade>
        <a href="https://siam-revista.ghost.io/tag/politica/" class="mobile-item">Politica</a>
        <hr width="100%" size="2" color="white" noshade>
        <a href="https://siam-revista.ghost.io/tag/sociedad/" class="mobile-item">Sociedad</a>
        <hr width="100%" size="2" color="white" noshade>
        <a href="https://siam-revista.ghost.io/tag/deporte/" class="mobile-item">Deportes</a>
        <hr width="100%" size="2" color="white" noshade>
        <a href="https://siam-revista.ghost.io/author/" class="mobile-item">Autores</a>
        <hr width="100%" size="2" color="white" noshade>
        <a href="{{@site.url}}/about" class="mobile-item">Quiénes Somos</a>
        <hr width="100%" size="2" color="white" noshade>
        <a href="{{@site.url}}/#/portal" class="mobile-item">Suscribite</a>
    </div>
</div>