{{!< default}}

<main id="site-main" class="site-main outer">
    <div class="inner">
        <article class="post-full post page {{post_class}}">
            <header class="post-full-header">
                <h1 class="post-full-title">{{page.title}}</h1>
            </header>

            <section class="post-full-content">


                <div class="authors-list">
                    {{#get "authors" limit="all" include="count.posts" order="count.posts desc"}}
                        {{#foreach authors}}
                            <div class="author-item">
                                <a href="{{url}}" class="author-link">
                                    <h2 class="author-name">{{name}}</h2>
                                    <p class="author-meta">{{count.posts}} posts</p>
                                </a>
                            </div>
                        {{/foreach}}
                    {{/get}}
                </div>
            </section>
        </article>
    </div>
</main>