{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer">
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="container">
        {{!-- Featured (Most Recent) Post --}}
        {{#get "posts" limit="1" as |featured|}}
            {{#foreach featured}}
            <article class="featured-post">
                <a href="{{url}}" class="featured-post-link">
                {{#if feature_image}}
                <div class="featured-post-image">
                    <img src="{{img_url feature_image}}" alt="{{title}}">
                </div>
                {{/if}}
                <div class="featured-post-content">
                    <h1 class="featured-post-title">{{title}}</h1>
                    <time class="featured-post-date" datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format="MMMM DD, YYYY"}}
                    </time>
                </div>
                </a>
            </article>
            {{/foreach}}
        {{/get}}
<div class="inner posts">

     {{!-- Economia Section --}}
        <section class="category-section">
            <a href = "http://localhost:2368/tag/economia/"><h2>Economia</h2></a>
            <div class="post-feed">
                {{#get "posts" filter="tag:economia" limit="3" order="published_at DESC"}}
                    {{#foreach posts}}
                        <article class="post-card">
                            <a class="post-card-image-link" href="{{url}}">
                            {{#if feature_image}}
                                <div class="post-card-image-link">
                                    <img class="post-card-image"
                                        srcset="{{img_url feature_image size="s"}} 300w,
                                                {{img_url feature_image size="m"}} 600w,
                                                {{img_url feature_image size="l"}} 1000w,
                                                {{img_url feature_image size="xl"}} 2000w"
                                        sizes="(max-width: 1000px) 400px, 800px"
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{title}}"
                                    />
                                </div>
                            {{/if}}
                            
                            <div class="post-card-content">
                                <h2 class="post-card-title">{{title}}</h2>
                                <time class="post-card-date" datetime="{{date format="YYYY-MM-DD"}}">
                                    {{date format="MMMM DD, YYYY"}}
                                </time>
                            </div>
                            </a>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>

        {{!-- Politica Section --}}
        <section class="category-section">
            <a href = "http://localhost:2368/tag/politica/"><h2>Politica</h2></a>
            <div class="post-feed">
                {{#get "posts" filter="tag:politica" limit="3" order="published_at DESC"}}
                    {{#foreach posts}}
                        <article class="post-card">
                            <a class="post-card-image-link" href="{{url}}">
                            {{#if feature_image}}
                                <div class="post-card-image-link">
                                    <img class="post-card-image"
                                        srcset="{{img_url feature_image size="s"}} 300w,
                                                {{img_url feature_image size="m"}} 600w,
                                                {{img_url feature_image size="l"}} 1000w,
                                                {{img_url feature_image size="xl"}} 2000w"
                                        sizes="(max-width: 1000px) 400px, 800px"
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{title}}"
                                    />
                                </div>
                            {{/if}}
                            
                            <div class="post-card-content">
                                <h2 class="post-card-title">{{title}}</h2>
                                <time class="post-card-date" datetime="{{date format="YYYY-MM-DD"}}">
                                    {{date format="MMMM DD, YYYY"}}
                                </time>
                            </div>
                            </a>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>

        {{!-- Sociedad Section --}}
        <section class="category-section">
            <a href = "http://localhost:2368/tag/sociedad/"><h2>Sociedad</h2></a>
            <div class="post-feed">
                {{#get "posts" filter="tag:sociedad" limit="3" order="published_at DESC"}}
                    {{#foreach posts}}
                        <article class="post-card">
                            <a class="post-card-image-link" href="{{url}}">
                            {{#if feature_image}}
                                <div class="post-card-image-link">
                                    <img class="post-card-image"
                                        srcset="{{img_url feature_image size="s"}} 300w,
                                                {{img_url feature_image size="m"}} 600w,
                                                {{img_url feature_image size="l"}} 1000w,
                                                {{img_url feature_image size="xl"}} 2000w"
                                        sizes="(max-width: 1000px) 400px, 800px"
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{title}}"
                                    />
                                </div>
                            {{/if}}
                            
                            <div class="post-card-content">
                                <h2 class="post-card-title">{{title}}</h2>
                                <time class="post-card-date" datetime="{{date format="YYYY-MM-DD"}}">
                                    {{date format="MMMM DD, YYYY"}}
                                </time>
                            </div>
                            </a>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>

    {{pagination}}

</div>
</main>
